{layout ../@layout.latte}

{block #content}

<h1>Odstranění uživatele {$user->name}</h1>

<p><a href="{$linker->createLink(users)}">&larr; Zpět na přehled uživatelů</a></p>

<p>Opravdu chcete <strong>nenávratně</strong> odstranit uživatele <em>{$user->name}</em>?</p>

{control $form}