leanmapper:

	database:
		driver: sqlite3
		database: %appDir%/db/curious.sq3
		lazy: true

parameters:

	cacheDir: %tempDir%/cache

	templatesDir: %appDir%/templates

	fragmentsDirectories:
		- %appDir%/fragments

services:

	appRequest:
		class: Curious\AppRequest
		factory: @Curious\IRouter::match

	fragment:
		class: Curious\Fragment
		factory: @appRequest::getFragment

	fragments:
		class: Curious\Fragments
		factory: @Curious\IFragmentsFactory::createFragments

	httpRequest:
		class: Nette\Http\Request
		factory: @Nette\Http\RequestFactory::createHttpRequest

	phpFileStorage:
		class: Nette\Caching\Storages\PhpFileStorage(@\Directories::getCacheDirectory())
		autowired: false

	state:
		class: Curious\State
		factory: @appRequest::getState

	url:
		class: Nette\Http\Url
		factory: @httpRequest::getUrl

	view:
		class: Nette\Templating\FileTemplate
		factory: @\TemplateFactory::createTemplate

	- Curious\CallbackCaller
	- Curious\Linker
	- Curious\FragmentsFactory(@\Directories::getFragmentsDirectories())
	- Curious\Components

	- LeanMapper\DefaultMapper
	- LeanMapper\DefaultEntityFactory

	- Nette\Http\RequestFactory
	- Nette\Utils\Finder

	- CoffeeMachineRenderer
	- ConfirmForm
	- Data
	- Directories
	- ErrorHandler(@\Directories::getTemplatesDirectory())
	- Model\Repository\UserRepository
	- Navigation
	- Redirector
	- Router
	- TemplateFactory(@\Directories::getTemplatesDirectory(), @phpFileStorage)
	- UserFilterForm
	- UserForm